<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080415009962-sqip7mdn38i725p6irr9fntvp2nudrql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080415009962-sqip7mdn38i725p6irr9fntvp2nudrql</string>
	<key>API_KEY</key>
	<string>AIzaSyBvbavSne5mWCqgAE-YIRHP3oX7L_gWVyE</string>
	<key>GCM_SENDER_ID</key>
	<string>1080415009962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>count-school.tomodati</string>
	<key>PROJECT_ID</key>
	<string>tomodati-99822</string>
	<key>STORAGE_BUCKET</key>
	<string>tomodati-99822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080415009962:ios:c6de7982a2e59f38a224d3</string>
</dict>
</plist>